
    .thumbnail {
        width: 100%;
    }
            
    
    .video-tittle {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }

    .video-author,
    .video-stats {
        display: block;
        font-size: 13px;
        color: rgb(96, 96, 96);
    }
    
    .channel-picture {
        display: inline-block;
        width: 50px;
        vertical-align: top;
    }
    .video-info {
        display: inline-block;
        width: 245px;
    }
    .profile-picture {
        width: 40px;
        border-radius: 50px;
    }
    .thumbnail-row {
        margin-bottom: 12px;
    }
    .video-author {
        margin-top: 15px;
    }
    .video-stats {
        margin-top: 4px;
    }
    .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
    }
    .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 40px;
    }
    .header {

    }