.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
}
.left-section {
    display: flex;
    align-items: center;
}
.middle-section {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 70px;
    width: 500px;
    align-items: center;
}
.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 3px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.search-icon {
    height: 25px;
    margin-top: 4px;
    
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 40px;   
    background-color: rgb(245, 245, 245); 
}
.voice-icon{
    height: 24px;
    margin-top: 4px;    
}
.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu {
    height: 24px;
    margin-right: 20px;
    margin-left: 24px;
    
}
.yt-logo {
    
    height: 20px;
}

.upload-icon {
    height: 24px;

}
.youtube-icon {
    height: 24px;
}

.notification-icon {
    height: 24px;
}
.my-pfp {
    height: 32px;
    border-radius: 16px;
}