  * {
    margin: 5px;
    padding: 0;
    font-family: Arial;
  }
    .heading {
            font-weight: bold;
            font-size: 18px;
            width: 300;
            line-height: 25px;
            margin-bottom: 5px;
            
    }

    .second-heading {
            font-size: 14px;
           color: rgb(96, 96, 96); 
            margin-bottom: 20px;
            

    }

    .author {
      color: rgb(96, 96, 96);
      font-size: 14px;
      margin-bottom: 20px;
    }

    .about-video {
      color: rgb(96, 96, 96);
      font-size: 14px;
      width: 280px;
      margin-bottom: 50px;
    }

    .text-from-apple {
       background-color: rgb(227, 65, 64);
       color: white;    
       font-size: 14px;
       padding-top: 15px;
       padding-bottom: 15px;
       text-align: center;
    }
   
    
    .underline {
      cursor: pointer;
    }
    
   .underline:hover {
      text-decoration: underline;
   }